*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff
}

element.style {
}

a.logo > img {
    width: 100%;
    height: auto;
    display: block;
}

a.logo {
    width: 80px;
    float: left;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none
}

.nav-links a{
  color: #000000;
  text-decoration: none;
  letter-spacing: 1.4px;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.nav-links a:hover {
  color: blue;
}

/* Position text in the middle of the page/image */
.bg-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: bottom;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

<body>

<div class="bg-text">
  <h1 style="font-size:300px">"THE HIGHEST HUMAN ACT IS TO INSPIRE"/h1>
</div>

</body>
