*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff
}

element.style {
}

a.logo > img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    left: -130px;
}

a.logo {
    width: 80px;
    float: left;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none
}

.nav-links a{
  color: #000000;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 140px;
}

.nav-links a:hover {
  color: blue;
}

.nav-links a.active {
  padding-top: 5px;
  color: blue;
}

h1 {
  font-family: 'Pirata One', cursive;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 35%;
  bottom: 50%;
  left: 40%;
  right: 0;
  margin: auto;
  text-align: left;
  font-size: 65px;
  letter-spacing: 1px;
}
.wrapper {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0);
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: bottom;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
