body {
  background-image: url("../images/merch/nipsey-hussle-1440x1024.jpg");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff
}

element.style {
}

a.logo > img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    left: -130px;
}

a.logo {
    width: 80px;
    float: left;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  color: #000000;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 140px;
  padding: 10px 10px;
}

.nav-links a.active {
  color: blue;
  font-weight: bold;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}

.container {
  overflow: hidden;
  position: absolute;
  top: 90%;
  left: 42%;
  transform: translate(-40%, 7%);
  width: 1040px;
  padding: 20px 0 50px;
  background: rgba(255, 255, 255, .8);
}

#myBtnContainer {
  padding-top: 50px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.filterDiv {
  float: left;
  /* color: #ffffff; */
  width: 250px;
  line-height: 200px;
  text-align: center;
  margin: 5px;
  display: none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  display: inline-block;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  list-style: none;
  padding: 12px 16px;
  cursor: pointer;
  -webkit-transtion: all .5s ease;
  -moz-transition: all .5s ease ;
  -ms-transition: all .5s ease ;
  -o-transition: all .5s ease ;
  transition: all .5s ease ;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background: blue;
  color: #fff;
}

/* Add a dark background to the active button */
.btn.active {
  background: blue;
  color: #fff;
}
