body {
  background-image: url("../images/tour-dates/nipsey-hussle-tour-dates.jpg");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff
}

element.style {
}

a.logo > img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    left: -130px;
}

a.logo {
    width: 80px;
    float: left;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  color: #000000;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 140px;
  padding: 10px 10px;
}

.nav-links a.active {
  color: blue;
  font-weight: bold;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}

table {
  border-collapse: collapse;
  width: 945px;
  height: 550px;
  margin: auto;
  table-layout: fixed;
  margin-top: 80px;
  font-family: 'Montserrat', sans-serif;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#000;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1.5px;
  text-align: left;
  background-color: #000;
  color: white;
}

td {
  background: rgba(255, 255, 255, .8);
}

.button {
  background-color: #0352FB;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0px;
}
